.todoListDiv {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.inputDiv {
  position: absolute;
  top: 10px;
}

.inputField {
  top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 4px;
}

.addTaskBtn {
  border: none;
  border-radius: 4px;
  background-color: #66FF99;
  cursor: pointer;
  padding: 8px 16px;
  margin-left: 10px;
}

.signOutBtn {
  border: none;
  border-radius: 4px;
  background-color: #FF6969;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.taskItem {
  display: flex;
  align-items: center;
  padding: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(260deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.taskContent {
  flex-grow: 1;
  font-size: 16px;
}

.checkTask {

}

.removeTaskBtn {
  padding: 5px 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.todoList {
  position: absolute;
  top: 4rem;
}